body {
  color:  #000000;
  font-size: 14px;
  line-height: 21px;
  font-style: regular;
  font-family: PTSans;
  outline: 1px dashed red;
  width: 768px;
  margin: 0 auto;
}
h1 {
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-style: bold;
}
h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-style: bold;
}
.search h2 {
  color: #ffffff;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.main-haeder {
  outline: 1px dashed red;
  width: 768px;
}
.main-navigation {
  outline: 1px dashed red;
  min-height: 15px;
  width: 768px;
  text-align:center;
  vertical-align: top;
}
.main-navigation li {
  float: left;
  margin-right: 10px;
}
.main-navigation li a {
  display: block;
  position: relative;
  padding: 21px;
}
.main-navigation  img {
  position: absolute;
  margin: 0 auto;
  left: 900px;
}
.main-navigation div {
  padding: 20px;
}
.left {
  float: left;
  margin-right: 10px;
}
.right {
  float: right;
  margin-right: 10px;
}
.main {
  outline: 1px dashed red;
  width:768px;
}
.basic background {
  outline: 1px dashed red;
  font-size: 0px;
  width: 768px;
  min-height: 513px;
}
img {
  display: block;
  vertical-align: top;
}
.text {
  outline: 1px dashed red;
  display: block;
  width: 494px;
  min-height: 212px;
  margin: 0 auto;
  font-size: 0px;
}
.text p{
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.info {
  outline: 1px dashed red;
  width: 768px;
  min-height: 255px;
}
.info-left {
  outline: 1px dashed red;
  background-color: #81b3d2;
  float: left;
  width: 256px;
  min-height: 255px;
}
.info-right {
  outline: 1px dashed red;
  float: right;
  width: 512px;
  min-height: 255px;
}
.info-picture {
  outline: 1px dashed red;
  float: left;
  width: 512px;
  min-height: 255px;
}
.info-data {
  outline: 1px dashed red;
  background-color: #81b3d2;
  float: right;
  width: 254px;
  min-height: 255px;
}
.features {
  outline: 1px dashed red;
  width: 768px;
  font-size: 0px;
}
.features-item {
  outline: 1px dashed red;
  display: inline-block;
  width: 33.333%;
  min-height: 333px;
  vertical-align: top;
  font-size: 14px;
}
.vantage {
  outline: 1px dashed red;
  width: 768px;
  font-size: 0px;
}
.vantage-item {
  outline: 1px dashed red;
  display: inline-block;
  width: 33.333%;
  min-height: 185px;
  font-size: 14px;
}
.content {
  outline: 1px dashed red;
  display: block;
  min-height: 207px;
  width: 438px;
  margin: 0 auto;
}
.content h1 {
  margin-top: 0px;
}
.content p {
  margin-bottom: 0px;
}
.scan {
  outline: 1px dashed red;
  display: block;
  background-color: #766357;
  margin: 0 auto;
  min-height: 84px;
  width: 571px;
}
.scan h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 26px;

}
.search {
  background-color: #d4c2bb;
  outline: 1px dashed red;
  width: 571px;
  min-height: 518px;
  position: absolute;
  margin-left: 98px;
  top: 2135px;
  bottom: 197px;
}
.map {
  outline: 1px dashed red;
  width: 768px;
  min-height: 472px;
}
.map img {
  display: block;
}
.main-footer {
  outline: 1px dashed red;
  font-size: 0px;
}
.container {
  outline: 1px dashed red;
  background-color: purple;
  width: 768px;
  margin: o auto;
}
.footer-contacts {
  outline: 1px dashed red;
  display: inline-block;
  width: 33.333%;
  min-height: 121px;
  font-size: 14px;
  vertical-align: top;
}

.footer-social {
  outline: 1px dashed red;
  display: inline-block;
  width: 33.333%;
  min-height: 121px;
  font-size: 14px;
  vertical-align: top;
}

.footer-copyright {
  outline: 1px dashed red;
  display: inline-block;
  width: 33.333%;
  min-height: 121px;
  font-size: 14px;
  vertical-align: top;
}
.index-content {
  outline: 1px dashed red;
  width: 768px;
  min-height: 219px;
  background: url("../img/filter.jpg") no-repeat;
}
.index-content-left {
  outline: 1px dashed red;
  width: 458px;
}
.column {
  outline: 1px dashed red;
  float: left;
  width: 228px;
  min-height: 219px;
}
.index-content-right {
  outline: 1px dashed red;
  float: right;
  width: 310px;
  min-height: 219px;
}
.sorting {
  outline: 1px dashed red;
  float: left;
  vertical-align: top;
  margin: 0 auto;
}
.sorting h2 {
  float: left;
  margin-right: 10px;
  padding: 10px;
  padding-left: 0;
}
.sorting ul {
  float: left;
}
.sorting li {
  float: left;
  margin-right: 10px;
}
.sorting p {
  float: left;
  padding: 15px;
}
.sorting li div {
  float: left;
  padding: 15px;
}
.sorting li a{
  float: left;
  padding: 20px;
}
.list-hotel {
  float: left;
  outline: 1px dashed red;
  min-height: 454px;
}
.foto {
  outline: 1px dashed red;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  margin-left: 46px;
}
.reservation {
  outline: 1px dashed red;
  display: inline-block;
  width: 380px;
  min-height: 150px;
  font-size: 14px;
  vertical-align: top;
}
.rating {
  outline: 1px dashed red;
  display: inline-block;
  width: 160px;
  min-height: 150px;
  font-size: 14px;
  vertical-align: top;

}
.index-content img {
  float: left;
}
