body {
  color:  #000000;
  font-size: 14px;
  line-height: 21px;
  font-style: regular;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 768px;
  margin: 0 auto;
  text-transform: uppercase;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.15);
}
h1 {
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-style: bold;
}
h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-style: bold;
}
.search h2 {
  color: #ffffff;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.main-haeder {
  width: 768px;
}
.main-navigation {
  position: relative;
  text-align:center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.main-navigation .left {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}
.main-navigation .right {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}
.main-navigation li {
  width: 154px;
  line-height: 26px;
  font-weight: bold;
  float: left;
}
.main-navigation a {
  text-decoration: none;
  color: #000000;
}
.main-navigation a:hover {
  color: #a3c7de;
}
.main-navigation a:active {
  color: #b2b2b2;
}
.main-navigation .active {
  color: #766357;
}
.main-navigation .active:hover {
  color: #604e43;
}
.main-navigation .active:active,
.main-navigation .active:focus {
  color: #e1ddda;
}
.main-navigation  img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}
.main {
  width:768px;
}
.basic {
  display: block;
  background-image: url("../img/sedona.jpg");
  width: 768px;
  min-height: 513px;
}
.text {
  width: 494px;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 50px;
}
.text p{
  margin-bottom: 0px;
  margin-top: 0px;
}
.text .slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
.text .reason {
  font-size: 14px;
  line-height: 26px;
  padding-top: 28px;
  text-align: center;
}
.info {
  color: #ffffff;
  width: 768px;
  min-height: 255px;
  text-align: center;
}
.info-left {
  background-color: #81b3d2;
  text-align: center;
  float: left;
  width: 256px;
  min-height: 256px;
}
.info-right img {
  display: block;
  vertical-align: top;
}
.info-right {
  float: right;
  width: 512px;
  min-height: 255px;
}
.info-picture {
  float: left;
  width: 512px;
  min-height: 255px;
}
.info-picture img {
  display: block;
  vertical-align: top;
}
.info-data {
  background-color: #81b3d2;
  float: right;
  width: 256px;
  min-height: 256px;
}
.indent {
  padding: 7px 40px 0 40px;
}
.info h2 {
  color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  padding: 30px 53px 5px 50px;
}
.info .rubric {
  padding: 7px 30px 0 27px;
}
.features {
  width: 768px;
  font-size: 0px;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 60px;
}
.features-item {
  display: inline-block;
  width: 33.333%;
  vertical-align: top;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  position: relative;
}
.features-item .housing {
  display: block;
  background-image: url("../img/house.png");
  width: 75px;
  min-height: 72px;
  position: absolute;
  top: -100px;
  left: 90px;
}
.features-item .nutrition {
  display: block;
  background-image: url("../img/food.png");
  width: 74px;
  min-height: 70px;
  position: absolute;
  top: -100px;
  left: 90px;
}
.features-item .memento {
  display: block;
  background-image: url("../img/souvenir.png");
  width: 64px;
  min-height: 76px;
  position: absolute;
  top: -105px;
  left: 95px;
}
.features-item h2 {
  margin: 0;
  padding-bottom: 24px;
}
.features-item p {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0;
}
.souvenir p {
  padding-left: 42px;
  padding-right: 42px;
}
.vantage {
  width: 768px;
  font-size: 0px;
  text-align: center;
  background-color: #eeeeee;
}
.vantage-item {
  display: inline-block;
  width: 33.333%;
  min-height: 256px;
  font-size: 14px;
  vertical-align: top;
}
.vantage-item h2 {
  padding-top: 30px;
  padding-bottom: 6px;
  padding-left: 50px;
  padding-right: 50px;
}
.vantage-item .rubric {
  padding-top: 7px;
  padding-left: 50px;
  padding-right: 50px;
}
.content {
  display: block;
  min-height: 205px;
  width: 438px;
  margin: 0 auto;
  text-align: center;
}
.content h1 {
  margin-top: 0px;
  padding-top: 55px;
  padding-bottom: 10px;
}
.content p {
  margin-bottom: 0px;
  line-height: 24px;
}
.scan {
  display: block;
  background-color: #766357;
  margin: 0 auto;
  min-height: 86px;
  width: 567px;
  position: relative;
}
.scan h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 29px;
  text-align: center;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
}
.search {
  position: absolute;
  top: 87px;
  left: 0px;
  width: 458px;
  min-height: 280px;
  padding: 55px 55px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.15);
}
.occupation {
  position: relative;
  padding-bottom: 27px;
}
.occupation input {
  width: 327px;
  min-height: 34px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  margin-left: 25px;
  padding-left: 13px;
  text-transform: uppercase;
  outline: none;
}
.occupation input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}
.occupation input:active,
.occupation input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.occupation .calendar {
  background-image: url("../img/calendar.png");
  width: 21px;
  min-height: 22px;
  position: absolute;
  top: 8px;
  right: 9px;
}
.occupation .calendar:hover {
  background: url("../img/sprite.png") no-repeat;
  width: 40px;
  height: 25px;
  background-position: 10px -912px;
}
.occupation .calendar:active {
  background: url("../img/sprite.png") no-repeat;
  width: 22px;
  height: 23px;
  background-position: -8px -815px;
}
.departure {
  position: relative;
  padding-bottom: 27px;
}
.departure input {
  width: 329px;
  min-height: 33px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  margin-left: 20px;
  text-transform: uppercase;
  padding-left: 13px;
  outline: none;
}
.departure input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}
.departure input:active,
.departure input:focus {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}
.departure .calendar {
  background-image: url("../img/calendar.png");
  width: 21px;
  min-height: 22px;
  position: absolute;
  top: 8px;
  right: 9px;
}
.departure .calendar:hover {
  background: url("../img/sprite.png") no-repeat;
  width: 40px;
  height: 25px;
  background-position: 10px -912px;
}
.departure .calendar:active {
  background: url("../img/sprite.png") no-repeat;
  width: 22px;
  height: 23px;
  background-position: -8px -815px;
}
.abulf {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.abulf input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}
.abulf input:active,
.abulf input:focus {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}
.abulf .minus {
  display: block;
  position: absolute;
  background: url("../img/minus.png") no-repeat;
  width: 22px;
  height: 23px;
  top: 20px;
  left: 125px;
}
.minus:hover {
  background: url("../img/sprite.png") no-repeat;
  width: 22px;
  height: 23px;
  background-position: -10px -762px;
}
.minus:active {
  background: url("../img/sprite.png") no-repeat;
  width: 22px;
  height: 23px;
  background-position: -10px -250px;
}
.abulf .plus {
  display: block;
  position: absolute;
  background: url("../img/plus.png") no-repeat;
  width: 22px;
  height: 23px;
  top: 15px;
  right: 0px;
}
.plus:hover {
  background: url("../img/sprite.png") no-repeat;
  width: 22px;
  height: 23px;
  background-position: -10px -731px;
}
.plus:active {
  background: url("../img/sprite.png") no-repeat;
  width: 22px;
  height: 23px;
  background-position: -10px -527px;
}
.children {
  display: inline-block;
  margin-left: 20px;
  position: relative;
}
.children input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}
.children input:active,
.children input:focus {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}
.children .minus {
  display: block;
  position: absolute;
  background: url("../img/minus.png") no-repeat;
  width: 22px;
  height: 23px;
  top: 20px;
  left: 90px;
}
.minus:hover {
  background: url("../img/sprite.png") no-repeat;
  width: 22px;
  height: 23px;
  background-position: -10px -762px;
}
.minus:active {
  background: url("../img/sprite.png") no-repeat;
  width: 22px;
  height: 23px;
  background-position: -10px -250px;
}
.children .plus {
  display: block;
  position: absolute;
  background: url("../img/plus.png") no-repeat;
  width: 22px;
  height: 23px;
  top: 15px;
  right: 0px;
}
.plus:hover {
  background: url("../img/sprite.png") no-repeat;
  width: 22px;
  height: 23px;
  background-position: -10px -731px;
}
.plus:active {
  background: url("../img/sprite.png") no-repeat;
  width: 22px;
  height: 23px;
  background-position: -10px -527px;
}
.abulf input {
  width: 110px;
  min-height: 34px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  margin-left: 38px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
}
.children input {
  width: 108px;
  min-height: 34px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  margin-left: 40px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
}
.btn input {
  display: inline-block;
  margin-top: 52px;
  width: 458px;
  border: none;
  min-height: 58px;
  background-color: #81b3d2;
  color: white;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial";
  font-weight: bold;
  text-transform: uppercase;
}
.btn input:hover {
  background-color: #669ec0;
  width: 458px;
}
.btn input:active {
  background-color: #5496bd;
  color: #94b9d2;
  width: 458px;
}
.map {
  display: block;
  background-image: url("../img/map.jpg");
  background-position: 11px -10px;
  width: 768px;
  min-height: 593px;
}
.main-footer {
  font-size: 0px;
  padding-top: 35px;
  padding-bottom: 35px;
}
.container {
  padding-left: 46px;
  padding-right: 46px;
  margin: o auto;
}
.footer-contacts {
  display: inline-block;
  width: 33.333%;
  font-size: 14px;
  vertical-align: middle;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.footer-contacts a {
  text-decoration: none;
  color: #000000;
}
.footer-social {
  display: inline-block;
  width: 33.333%;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
}
.social-btn {
  display: inline-block;
  width: 47px;
  height: 47px;
  margin: 0 1px;
  background: #81b3d2 url("../img/sprite.png") no-repeat center;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
}
.social-btn:hover {
  background-color: #669ec0;
}
.social-btn-t {
  background-position: 6px -1315px;
}
.social-btn-fb {
  background-position: 8px -1280px;
}
.social-btn-you {
  background-position: 2px -432px;
}
.social-btn-t:active {
  background-color: #5496bd;
  background-position: 6px -937px;
}
.social-btn-fb:active {
  background-color: #5496bd;
  background-position: 8px -198px;
}
.social-btn-you:active {
  background-color: #5496bd;
  background-position: 2px -159px;
}
.footer-copyright {
  display: inline-block;
  width: 33.333%;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
}
.footer-copyright p {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  vertical-align: top;
}
.footer-copyright a {
  background: url("../img/sprite.png") no-repeat;
  background-position: -8px -1234px;
  display: inline-block;
  width: 115px;
  height: 40px;
  margin-top: 7px;
}
.footer-copyright a:hover {
  background: url("../img/sprite.png") no-repeat;
  background-position: -8px -1133px;
}
.footer-copyright a:active {
  background: url("../img/sprite.png") no-repeat;
  background-position: -8px -672px;
}
.fond {
  position: absolute;
  background: #ffffff;
  opacity: 0.9;
  width: 768px;
  height: 120px;
  top: 2641px;
}
.index-content {
  width: 674px;
  min-height: 219px;
  background: url("../img/filter.jpg") no-repeat;
  padding-left: 47px;
  padding-right: 47px;
}
.index-content-left {
  float: left;
}
.column {
  float: left;
  min-height: 219px;
  color: #ffffff;
}
.column-left {
  width: 241px;
}
.column-right {
  width: 210px;
}
.column ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.column li {
  margin-bottom: 20px;
}
.column h3 {
  padding-top: 12px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 20px;
}
.column input {
  width: 19px;
  height: 20px;
  margin-right: 16px;
}
.index-content-right {
  float: right;
  width: 223px;
  min-height: 219px;
}
.border {
  border-bottom: 1px solid #e5e5e5;
}
.sorting {
  min-height: 86px
  vertical-align: top;
  margin: 0 auto;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid #e5e5e5;
}
.sorting h2 {
  float: left;
  margin-right: 27px;
  padding: 13px;
  padding-left: 0;
  padding-bottom: 15px;
}
.sorting span {
  padding-left: 4px;
}
.sorting ul {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 30px;
}
.sorting .switch  {
  float: right;
}
.sorting li {
  float: left;
  margin-right: 30px;
  margin-top: 5px;
}
.sorting p {
  float: left;
  padding-left: 9px;
  padding-top: 23px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.sorting .cost {
  padding-left: 40px;
  color: #81b3d2;
}
.sorting a{
  padding-left: 2px;
  color: #dbdbdb;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}
.sorting a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}
.sorting a:active {
  color: #000000;
  border-bottom: 1px dotted #81b3d2;
}
.switch {
  position: relative;
}
.switch .upwards {
  display: block;
  background-image: url("../img/upwards.png");
  width: 9px;
  min-height: 11px;
  position: absolute;
  top: 40px;
  right: 23px;
}
.switch .down {
  display: block;
  background-image: url("../img/down.png");
  width: 10px;
  min-height: 10px;
  position: absolute;
  top: 38px;
  right: 0px;
}
.switch .upwards:hover {
  background: url("../img/sprite.png") no-repeat center;
  background-position: -10px -785px;
  text-decoration: none;
}
.switch .upwards:active {
  background: url("../img/sprite.png") no-repeat center;
  background-position: -10px -418px;
  text-decoration: none;
}
.switch .down:hover {
  background: url("../img/sprite.png") no-repeat center;
  background-position: -10px -642px;
}
.switch .down:active {
  background: url("../img/sprite.png") no-repeat center;
  background-position: -10px -1019px;
}
.switch .active:active,
.switch .active:focus {
  background: url("../img/sprite.png") no-repeat center;
  background-position: -10px -1019px;
}
.filter-range {
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 29px;
}
.filter-range-title {
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;
  height: 31px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  top: -2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 16%;
  left: 50%;
  width: 2px;
  height: 23px;
  background: #ffffff;
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 35px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  padding-left: 32px;
  width: 75px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  cutline: none;
}
.range-controls {
  position: relative;
  margin-bottom: 30px;
  top: -2px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 72%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 72%;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 33px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.list-hotel {
  float: left;
  min-height: 454px;
}
.list-hotel .foto {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  padding-top: 30px;
}
.reservation {
  display: inline-block;
  width: 343px;
  min-height: 150px;
  font-size: 14px;
  vertical-align: top;
  padding-left: 27px;
}
.reservation .first {
  width: 112px;
  display: inline-block;
  vertical-align: top;
}
.reservation .second {
  width: 142px;
  display: inline-block;
  vertical-align: top;
}
.reservation h2 {
  font-size: 21px;
  line-height: 26px;
  margin-top: 25px;
  margin-bottom: 0;
}
.reservation h2:hover {
  color: #81b3d2;
}
.reservation h2:active {
  color: #cacaca;
}
.reservation p {
  padding-top: 8px;
  margin: 0;
  padding-bottom: 13px;
  padding-right: 35px;
  display: inline-block;
}
.reservation .number {
  margin-right: 40px;
}
.reservation .number-motel {
  padding-left: 25px;
}
.reservation .number-apartments {
}
.rating {
  position: relative;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  padding-top: 2px;
  padding-left: 3px;
}
.rating-hotel::before {
  content: "";
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  background-position: -10px -107px;
  width: 90px;
  height: 23px;
  margin-top: 27px;
  margin-left: 72px;
}
.rating-motel::before {
  content: "";
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  background-position: -10px -33px;
  width: 90px;
  height: 23px;
  margin-top: 27px;
  margin-left: 119px;
}
.rating-apartments::before {
  content: "";
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  background-position: -10px -70px;
  width: 90px;
  height: 23px;
  margin-top: 27px;
  margin-left: 96px;
}
.rating p {
  width: 110px;
  height: 22px;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 4px;
  color: #666666;
  margin-left: 50px;
  margin-top: 90px;
  font-size: 14px;
  line-height: 21px;
}
.index-content img {
  float: left;
}
.btn-detailed {
  display: inline-block;
  width: 110px;
  height: 23px;
  background: #81b3d2  center;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  padding-top: 4px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}
.btn-detailed:hover {
  background: #669ec0;
}
.btn-detailed:active {
  background: #5496bd;
  color: #94b9d2;
}
.btn-reservation {
  display: inline-block;
  width: 142px;
  height: 23px;
  background: #766357  center;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  padding-top: 4px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}
.btn-reservation:hover {
  background: #604e43;
}
.btn-reservation:active {
  background: #503e33;
  color: #928a85;
}
.sprite {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;
}
